@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5rem;
    cursor: pointer;
}