.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 1em 3.6em; /* Adjust padding as needed */
    background-image: url('https://www.karliky.com/logo.953ff73f.svg'), url('https://www.karliky.com/instagram.7cafa855.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, 380px -55px;
    background-size: contain, 111px;
    box-sizing: border-box;
}

.hero .logo {
    display: flex;
    align-items: center;
}

.hero .logo img {
    width: 100px; /* Adjust width as needed */
    margin-right: 1em; /* Adjust margin as needed */
}

.hero .name {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}
