
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swapp');

[class^="st-emotion-cache-5ktc4g e1nzilvr5"]{
    margin: 0;
    font-family: 'EB Garamond', serif; 
    color:#EBE3D5
}
body {
    margin:0;
 }
 

 
 
 svg text {
   font-family: "EB Garamond", serif;
   font-optical-sizing: auto;
   font-weight: 800;
   font-style: normal;
   font-size: 5rem;
   letter-spacing: 1px;
   stroke: #EBE3D5;
   font-size: 40px;
   stroke-width: 2;
  
   animation: textAnimate 3s infinite alternate;
   
 }
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     fill:#EBE3D5
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: hsla(189, 68%, 75%,0%)
   }
   
 }
 .navigation-link {
    position: fixed;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navigation-link:hover {
    text-decoration: underline;
}
 
 
  